@import './reset.css';

* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

:root {
  --coral: #f27979;
  --cyan: #46b3bd;
  --white: #fff;
  --spacing: 8px;
  --spacing2: 16px;
  --bodyPadding: 20px;

  /* Breakpoints */
  --bp-mobile-medium: 600px;
  --bp-mobile: 768px;
}

body {
  background: #fef5f5;
  padding: 0;
  margin: 0;
  font-family: 'Lobster', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 28px;
  padding: var(--bodyPadding);
  text-align: center;
}

h2,
h3 {
  margin-bottom: var(--spacing2);
}

.container {
  display: flex;
  flex-direction: column;
}

.step {
  display: flex;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - var(--bodyPadding) * 2);
  overflow-y: auto;
  opacity: 0;
}

.step.visible {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

button {
  font-family: 'Lobster', cursive;
  background-color: var(--coral);
  border: none;
  color: var(--white);
  font-size: 24px;
  text-transform: capitalize;
  padding: var(--spacing) var(--spacing2);
  margin: var(--spacing2) 0;
}

button.blue {
  background-color: var(--cyan);
}

button:hover {
  background-color: var(--cyan);
}

.confirm-buttons {
  display: flex;
}

.confirm-buttons button:first-of-type {
  margin-right: var(--spacing2);
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 25.25%;
  position: relative;
  width: 100%;
  height: 0;
  margin-bottom: var(--spacing2);
}

.map-responsive iframe {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-invited {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.mr-mrs-img {
  width: 250px;
  height: 250px;
}

img {
  max-width: 100%;
}

.gradient-text {
  font-size: 72px;
  background: -webkit-linear-gradient(45deg, var(--cyan), var(--coral));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: var(--spacing2);
}

.gradient-text:hover {
  background: -webkit-linear-gradient(135deg, var(--cyan), var(--coral));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1024px) {
  .map-responsive {
    padding-bottom: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .map-responsive {
    padding-bottom: 100%;
  }

  .confirm-buttons {
    flex-direction: column;
    width: 100%;
  }

  .confirm-buttons button {
    margin-left: 0 !important;
    margin-right: 0 !important ;
  }

  button {
    width: 100%;
  }
}
